//Color

$primary: #01426a;
$secondary: #89b2c4;
$highlight: #be7a47;
$grey: #656569;
$light-grey: #c8c8c8;
$light: #f6f6f6;
$cream: #dab38d;

//Type

$main: 'Chiswick';
$italic: 'Chiswick Italic';
$body: 'Gotham Book';
$bold: 'Gotham Bold';
$medium: 'Gotham Medium';
